---
layout: page
---

{{ content }}

<ul id="archive">
{% for literature in site.literature_class %}
<li class="archiveposturl" style="background: transparent">
<div class="material-container">
    <div class="content">
        <span style="font-weight: bold;">{{ literature.title }}</span><br>

        {{ literature.tldr }}
        <br/>
        <strong>
        {% include material_links.html material=literature %}
        </strong>

        {% if literature.content != '' %}
        <br/>
        <div class="markdown-content" style="margin-top: 3px;">
        {{ literature.content }}
        </div>
        {% endif %}
    </div>
</div>
</li>
{% endfor %}
</ul>
