---
layout: page
---

{{ content }}

<ul id="archive">
{% for practical in site.practicals %}
<li class="archiveposturl" style="background: transparent">
<div class="material-container">
    <div class="content">
        <span style="font-weight: bold;">{{ practical.title }}</span><br>
        
        {% if practical.due_event %}
        <strong>Due:</strong> {{ practical.due_event.date | date: site.dateformat }} {{ practical.due_event.date | date: "%H:%M" }} 
        <br/>
        {% endif %}

        <strong>
        {% include material_links.html material=practical %}
        </strong>

        {% if practical.content != '' %}
        <br/>
        <div class="markdown-content" style="margin-top: 3px;">
        {{ practical.content }}
        </div>
        {% endif %}
    </div>
</div>
</li>
{% endfor %}
</ul>
