---
layout: page
---

{{ content }}

<ul id="archive">
{% for proposal in site.proposal_class %} 
<li class="archiveposturl" style="background: transparent">
<div class="material-container">
    {% if proposal.thumbnail %}
    <div class="thumbnail">
      <div class="center-cropped" style="margin-top:5px;margin-bottom:5px;background-image: url('{{ proposal.thumbnail | prepend: site.baseurl }}');">
        <img src="{{ proposal.thumbnail | prepend: site.baseurl }}"/>
      </div>
    </div>
    {% endif %}
    <div class="content">
        <span style="font-weight: bold;">{{ proposal.title }}</span><br>

        <strong>tl;dr:</strong> {{ proposal.tldr }}
        <br/>
        <strong>
        {% include material_links.html material=proposal %}
        </strong>

        {% if proposal.content != '' %}
        <br/>
        <div class="markdown-content" style="margin-top: 3px;">
        {{ proposal.content }}
        </div>
        {% endif %}
    </div>
</div>
</li>
{% endfor %}
</ul>
